[Desktop Entry]
Name=H19term
GenericName=H19 Terminal Emulator
Comment=Heathkit H19 Terminal Emulator for H8 Computers
Exec=/usr/local/bin/h19term
Icon=h19term.xpm
StartupNotify=true
Terminal=false
Type=Application
Categories=Utilities;TerminalEmulator;
Name[en_CA]=H19term
